

*{
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body 
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

#root{
  background-color: rgb(7, 11, 13);
  box-sizing: border-box;
  color: #676c6f;
  display: block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-family: 400;
  line-height: 24px;

}

.app
{
  box-sizing: border-box;
  color: rgb(103, 108, 111);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  height: auto;
  width: auto;

}

.app-header
{
  box-sizing: border-box;
  color: rgb(103, 108, 111);
  display: block;
  z-index: 999;

} 

.container
{
  margin-left: auto;
  margin-right: auto;
  max-width: 75rem;
  position: relative;
  width: auto;

}
@media size and (max-width: 60rem) {
  .container {
    max-width: 680px;
  }
}

.navbar
{
  margin-bottom: calc(8 * -1);
}








