@import url('https://fonts.googleapis.com/css?family=Oswald:500');

*{
  margin: 0;
  padding: 0;
  font-size: 16px;
}
body 
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
#root{
  background-color: rgb(21, 23, 24);
  box-sizing: border-box;
  display: block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;

}
.app
{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}
.app-header
{
  width: 100%;
  margin-top: 3rem;
  box-sizing: border-box;
  display: block;
  z-index: 999;
} 

@import url('https://fonts.googleapis.com/css?family=Oswald:500');
.back{
  position: fixed;
  top: 0;
  width: 80%;
  height: 100%;
  background-size:cover;
}
.thx{
  position: fixed;
  left:50%;
  transform:translateX(-50%);
  bottom: 15px;
}
nav{
  text-align:center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
nav .nav-logo{
  font-size: 22px;
  float: left;
  color: #61dafb;
}
nav .nav-logo-right{
  float: right;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
nav a{
  font-family: 'Oswald', sans-serif;
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  color: rgb(202, 202, 202);
  margin:0 15px;
  font-size:18px;
  letter-spacing:3px;
  position:relative;
  display:inline-block;
}
nav a:hover
{
  color: #61dafb;;
}
nav a:hover:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  background:#61dafb;;
  top:95%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}
@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}
@for $i from 1 through 5 {
  nav a:nth-child(#{$i}){
    animation:show .2s #{$i*0.1+1}s ease 1 both;
  }
}
.pad-q
{
    padding: 2rem 0px 2rem 0px;
    background-color: #20232a;
}
/* App Navbar Ends */