

*{
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body 
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

#root-app{
  background-color: hsl(207, 30%, 4%);
  color: #676c6f;
}

.app
{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
 
