.home
{
    height: 100vh;
    background-color: #282c34;
}
.max-width
{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.home
{
    display: flex;
    /* background: url; */
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;  
}
.home .max-width
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.home .home-content .text-1
{
    font-size: 27px;
}
.home .home-content .text-2
{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3
{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #61dafb;
    font-weight: 500;
}
