.about
{
      padding-top: 3rem;
      padding-bottom: 3rem;
      color: white;
      width: 100%;
      margin: auto;
      background-color: #353b46;
}
.about .cont
{
      width: 80%;
      margin: auto;
}