.home
{
    height: 80vh;
    background-color: #282c34;
}
.max-width
{
    width: 60%;
    margin: auto;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.home
{
    padding-top: 3rem;
    /* display: flex; */
    /* background: url; */
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;  
}
.home .max-width
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.home .home-content
{
    padding: 3rem 0rem;
    
}
.home .home-content .text-1
{
    font-size: 2.4rem;
}
.home .home-content .text-2
{
    font-size: 5rem;
    font-weight: 600;
}
.home .home-content .text-2 a
{
    color: white;
    text-decoration: none;
}
.home .home-content .text-2 a:hover
{
    color: #61dafb;
}
.home .home-content .text-3
{
    font-size: 3rem;
    margin: 5px 0;
}
.home .home-content .text-3 span
{
    padding-left: 0.5rem;
    color: #61dafb;
    font-weight: 500;
}
.home p{
    font-size: 1.2rem;
    padding: 1rem 0rem;
    width: 80%;
    margin: auto;
    line-height: 1.6;
    font-style: italic;
}

/*Dynamic Text*/
.home .home-content .text-3
{
    display: flex;
}

.home .home-content .text-3 span::before
{
    content: "Student";
    animation: animate infinite 6s;
    padding-left: 10px;
}
@keyframes animate
{
    0%{
        content: "Student";
    }

    50%{
        content: "Coder";
    }
}

/*Download CV Button*/
.app .btn{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem; 
}

.home-btn
{
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
} 
.home-btn:focus
{
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.home-btn:hover
{
    color: #00c8ff;
    font-weight: 500;
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}
.home-btn:active
{
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}



